@{
  Layout = "_Layout";
}

@using Area52.Models;

<h3>Details on @Model.AlienName;</h3>

@if (Model.JoinEntSpec.Count == 0)
{
  <p>This Alien has no Specii T_T!</p>
}
else
{
  <ul>
  @foreach(var join in Model.JoinEntSpec)
  {
    <li>@Html.ActionLink($"{join.Specii.SpeciiName}", "Details", "Species", new { id = join.Specii.SpeciiId})</li>
    @using (Html.BeginForm("DeleteSpecii", "Specii"))
    {
      @Html.Hidden("joinId", (int) join.AlienSpeciiId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul> 
}
@if (Model.JoinEntPlan.Count == 0)
{
  <p>This Alien has no Planet! Maybe it was destroyed in a Galactic War!!!</p>
}
else
{
  <ul>
    @foreach(var join in Model.JoinEntPlan)
    {
      <li>@Html.ActionLink($"{join.Planet.PlanetName}", "Details", "Species", new {id = join.Planet.PlanetId})</li>
      @using (Html.BeginForm("DeletePlanet", "Planet"))
      {
        @Html.Hidden("joinId", (int) join.PlanetSpeciiId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Edit Details of this Beautiful Extraterrestrial", "Edit", new {id = Model.AlienId})</p>
<p>@Html.ActionLink("Delete Records of this Unfortunate Extraterrestrial", "Delete", new {id = Model.AlienId})</p>
